<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Ponto</title>
</head>

<%if(erros){%>
    
    <ul>        
        <%erros.map(function(ponto){%>
            <li><%=ponto.msg%></li>
        <%});%>

    </ul>
    <%}%>

        <body>
            <form action="/ponto" method="POST">
                <div>
                    <label for="">Data</label>
                    <input name="data_cadastro" value="<%=ponto.data_cadastro%>" type="date">
                </div>
                <div>
                    <label for="hora1">Hora1</label>
                    <input id="hora1" name="hora1" value="<%=ponto.hora1%>" type="text" placeholder="08:00">
                </div>
                <div>
                    <label for="hora2">Hora2</label>
                    <input id="hora2" name="hora2" type="text" value="<%=ponto.hora2%>" placeholder="12:00">
                </div>
                <div>
                    <label for="hora3">Hora3</label>
                    <input id="hora3" name="hora3" type="text" value="<%=ponto.hora3%>" placeholder="08:00">
                </div>
                <div>
                    <label for="hora4">Hora4</label>
                    <input id="hora4" name="hora4" type="text" value="<%=ponto.hora4%>" placeholder="08:00">
                </div>
                <div>
                    <label for="hora5">Hora5</label>
                    <input id="hora5" name="hora5" type="text" value="<%=ponto.hora5%>" placeholder="13:00">
                </div>
                <div>
                    <label for="hora6">Hora6</label>
                    <input id="hora6" name="hora6" type="text" value="<%=ponto.hora6%>" placeholder="18:00">
                </div>

                <input type="submit" value="Gravar">

            </form>

        </body>

</html>