<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/css/materialize.min.css">
</head>
<body>
    <h1>Pontos</h1>    

    <table class="highlight centered responsive-table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Hora-1</th>
                <th>Hora-2</th>
                <th>Hora-3</th>
                <th>Hora-4</th>
                <th>Hora-5</th>
                <th>Hora-6</th>
                <th>Total Trabalho</th>
                <th>Banco de horas</th>
            </tr>
        </thead>
        <tbody>
                <%lista.map(function(ponto){%>
                <tr>
                    <td><%=ponto.data_cadastro.getDate()+"/"+(ponto.data_cadastro.getMonth()+1)+"/"+ponto.data_cadastro.getFullYear()%></td>
                    <td><%=ponto.hora1%></td>
                    <td><%=ponto.hora2%></td>
                    <td><%=ponto.hora3%></td>
                    <td><%=ponto.hora4%></td>
                    <td><%=ponto.hora5%></td>
                    <td><%=ponto.hora6%></td>
                    <td><%=ponto.total%></td>
                    <td><%=ponto.banco%></td>
                </tr>
                <%})%>
                            
        </tbody>
    </table>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>